---
// src/pages/index.astro
import MainLayout from '../layouts/MainLayout.astro';
import Headling from '../components/Headling.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
---
<MainLayout title = "Gabriel León Castro - Data Analyst Portfolio">
  <main>
    <section class="w-full mx-auto lg:w-[850px] py-44"> 
      <Headling />
    </section>
    <section id="About" class="w-full mx-auto lg:w-[850px] py-44">
      <About />
    </section>
    <section id="Experience" class="w-full mx-auto lg:w-[850px] py-44">
      <Experience />
    </section>
  </main>
</MainLayout>