---
import Tittle from "./Tittle.astro";
---
<div class="container mx-auto px-4 mt-8 md:mt-12">
	<Tittle title="About" />

	<p class="mb-4 text-base md:text-xl text-gray-300 dark:text-gray-400 leading-relaxed md:leading-loose">As a 
		Supply Chain Data Analyst at SGF Global, I specialize in transforming complex 
		datasets into actionable insights that streamline operations and drive 
		business growth. Leveraging my expertise in Power BI and Python, I create 
		robust data visualizations and statistical analyses that inform strategic 
		decisions.
	</p>
	<p class="text-base md:text-lg text-gray-500 dark:text-gray-300 leading-relaxed md:leading-loose">
		With a solid foundation in Data Sciences from LEAD University, my approach 
		is rooted in precision and a passion for continuous improvement. I thrive 
		in dynamic environments where my analytical skills contribute to enhancing 
		processes and service delivery. Looking ahead, I am eager to further refine 
		my skills and take on more challenging projects that push the boundaries of 
		data-driven decision-making.
	</p>
</div>
