---
// src/components/Contact.astro
---
<section id="contact">
  <h2>Contacto</h2>
  <p>If you are interested in collaborating or want to know more about my work, 
	do not hesitate to contact me.</p>
  <form action="mailto:gabrielleon917@gmail.com" method="post">
    <input type="text" name="name" placeholder="Your Name" required>
    <input type="email" name="email" placeholder="Your Email" required>
    <textarea name="message" placeholder="Your Message" required></textarea>
    <button type="submit">Send</button>
  </form>
</section>
