<!-- src/components/Footer.astro -->
<footer>
  <p>Gabriel León Castro | Data Analyst</p>
  <p>
    <a href="https://github.com/Gaboelc" target="_blank" style="color: #ffa500; text-decoration: none;">GitHub</a> | 
    <a href="https://www.linkedin.com/in/gaboelc/" target="_blank" style="color: #ffa500; text-decoration: none;">LinkedIn</a>
  </p>
</footer>
