<header class="flex justify-between items-center py-3 w-[1120px] mx-auto mt-6">
  <div class="flex items-center">
    <img
      class="w-16 h-16 p-1 rounded-full ring-2 ring-gray-500 dark:ring-gray-600" 
      src="../../public/images/Gabriel_Leon_Photo.JPG" 
      alt="Gabriel Leon" 
    />
  </div>

  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="#About">About</a>
    <a href="#Experience">Experience</a>
    <a href="#Skills">Skills</a>
    <a href="#Education">Education</a>
    <a href="#Projects">Projects</a>
    <a href="#Contact">Contact</a>
  </nav>
</header>