---
// src/components/Header.astro
---
<header>
  <nav>
    <ul>
      <li><a href="#about">About Me</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contacts</a></li>
    </ul>
  </nav>
</header>
