---
import Tittle from "./Tittle.astro";
import PowerBIIcon from "../icons/PowerBIIcon.astro";
import PythonIcon from "../icons/PythonIcon.astro";
import PostgreSQLIcon from "../icons/PostgreSQLIcon.astro";
import RLanguageIcon from "../icons/RLanguageIcon.astro";
import MongoDBIcon from "../icons/MongoBDIcon.astro";
import PowerAppsIcon from "../icons/PowerAppsIcon.astro";
import PowerAutomateIcon from "../icons/PowerAutomateIcon.astro";
import AzureIcon from "../icons/AzureIcon.astro";
import TableauIcon from "../icons/TableauIcon.astro";
import AWSIcon from "../icons/AWSIcon.astro";
import TensorFlowIcon from "../icons/TensorFlowIcon.astro";
import PandasIcon from "../icons/PandasIcon.astro";
import NumpyIcon from "../icons/NumpyIcon.astro";
import ScikitLearnIcon from "../icons/ScikitLearnIcon.astro";
import StreamlitIcon from "../icons/StreamlitIcon.astro";
import HadoopIcon from "../icons/HadoopIcon.astro";
import SparkIcon from "../icons/SparkIcon.astro";
---

<Tittle title="Skills" />

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 text-white mt-8">
  <!-- programming languages Category -->
  <div class="bg-white/10 rounded-lg p-6 text-center">
    <h3 class="mb-4 font-bold">Programming Languages</h3>
    <div class="flex flex-col gap-4">
      <div class="flex items-center gap-2">
        <PythonIcon class="w-6 h-6" />
        <span>Python</span>
      </div>
      <div class="flex items-center gap-2">
        <RLanguageIcon class="w-6 h-6" />
        <span>R Language</span>
      </div>
      <div class="flex items-center gap-2">
        <PostgreSQLIcon class="w-6 h-6" />
        <span>PostgreSQL</span>
      </div>
      <div class="flex items-center gap-2">
        <MongoDBIcon class="w-6 h-6" />
        <span>MongoDB</span>
      </div>
    </div>
  </div>
  
  <!-- Data analysis & AI libraries Category -->
  <div class="bg-white/10 rounded-lg p-6 text-center">
    <h3 class="mb-4 font-bold">Data analysis & AI libraries</h3>
    <div class="flex flex-col gap-4">
      <div class="flex items-center gap-2">
        <TensorFlowIcon class="w-6 h-6" />
        <span>TensorFlow</span>
      </div>
      <div class="flex items-center gap-2">
        <ScikitLearnIcon class="w-6 h-6" />
        <span>Scikit-Learn</span>
      </div>
      <div class="flex items-center gap-2">
        <PandasIcon class="w-6 h-6" />
        <span>Pandas</span>
      </div>
      <div class="flex items-center gap-2">
        <NumpyIcon class="w-6 h-6" />
        <span>NumPy</span>
      </div>
    </div>
  </div>

  <!-- Data visualization Category -->
  <div class="bg-white/10 rounded-lg p-6 text-center">
    <h3 class="mb-4 font-bold">Data visualization</h3>
    <div class="flex flex-col gap-4">
      <div class="flex items-center gap-2">
        <PowerBIIcon class="w-6 h-6" />
        <span>Power BI</span>
      </div>
      <div class="flex items-center gap-2">
        <TableauIcon class="w-6 h-6" />
        <span>Tableau</span>
      </div>
      <div class="flex items-center gap-2">
        <StreamlitIcon class="w-6 h-6" />
        <span>Streamlit</span>
      </div>
    </div>
  </div>

  <!-- Tools Category -->
  <div class="bg-white/10 rounded-lg p-6 text-center">
    <h3 class="mb-4 font-bold">Tools</h3>
    <div class="flex flex-col gap-4">
      <div class="flex items-center gap-2">
        <PowerAppsIcon class="w-6 h-6" />
        <span>Power Apps</span>
      </div>
      <div class="flex items-center gap-2">
        <PowerAutomateIcon class="w-6 h-6" />
        <span>Power Automate</span>
      </div>
    </div>
  </div>

  <!-- Cloud Category -->
  <div class="bg-white/10 rounded-lg p-6 text-center">
    <h3 class="mb-4 font-bold">Cloud</h3>
    <div class="flex flex-col gap-4">
      <div class="flex items-center gap-2">
        <AzureIcon class="w-6 h-6" />
        <span>Azure</span>
      </div>
      <div class="flex items-center gap-2">
        <AWSIcon class="w-6 h-6" />
        <span>AWS</span>
      </div>
    </div>
  </div>

  <!-- Learning Category -->
  <div class="bg-white/10 rounded-lg p-6 text-center">
    <h3 class="mb-4 font-bold">Learning</h3>
    <div class="flex flex-col gap-4">
      <div class="flex items-center gap-2">
        <HadoopIcon class="w-6 h-6" />
        <span>Apache Hadoop</span>
      </div>
      <div class="flex items-center gap-2">
        <SparkIcon class="w-6 h-6" />
        <span>Apache Spark</span>
      </div>
    </div>
  </div>
</div>
