---
// src/components/Skills.astro
---
<section id="skills">
  <h2>Habilidades</h2>
  <ul>
    <li>Python</li>
    <li>SQL</li>
    <li>Microsoft Power BI</li>
    <li>Power Apps</li>
    <li>Power Automate</li>
	<li>Project Managemnt</li>	
	<li>Defining Requirements</li>
	<li>Communication</li>
	<li>Ad Hoc Analysis</li>
	<li>Microsoft Power Apps</li>
	<li>Microsoft Power Automate</li>
	<li>Team Leadership</li>
	<li>Machine Learning</li>
	<li>Agile Methodologies</li>
  </ul>
</section>
