---
import PowerBIIcon from "../icons/PowerBIIcon.astro";
import PythonIcon from "../icons/PythonIcon.astro";
import MSSQLIcon from "../icons/MSSQLServerIcon.astro";
import RLanguageIcon from "../icons/RLanguageIcon.astro";
import MongoDBIcon from "../icons/MongoBDIcon.astro";
import PowerAppsIcon from "../icons/PowerAppsIcon.astro";
import PowerAutomateIcon from "../icons/PowerAutomateIcon.astro";
import AzureIcon from "../icons/AzureIcon.astro";
---
<div class="columns-4">
	<PythonIcon class="w-64 h-64"/>
	<PowerBIIcon class="w-48 h-48"/>
	<MSSQLIcon class="w-48 h-48"/>
	<RLanguageIcon class="w-48 h-48"/>
	<MongoDBIcon class="w-48 h-48"/>
	<PowerAppsIcon class="w-48 h-48"/>
	<PowerAutomateIcon class="w-48 h-48"/>
	<AzureIcon class="w-48 h-48"/>
</div>