---
import Tittle from "./Tittle.astro";
import PowerBIIcon from "../icons/PowerBIIcon.astro";
import PythonIcon from "../icons/PythonIcon.astro";
import PostgreSQLIcon from "../icons/PostgreSQLIcon.astro";
import RLanguageIcon from "../icons/RLanguageIcon.astro";
import MongoDBIcon from "../icons/MongoBDIcon.astro";
import PowerAppsIcon from "../icons/PowerAppsIcon.astro";
import PowerAutomateIcon from "../icons/PowerAutomateIcon.astro";
import AzureIcon from "../icons/AzureIcon.astro";
import TableauIcon from "../icons/TableauIcon.astro";
import AWSIcon from "../icons/AWSIcon.astro";
import TensorFlowIcon from "../icons/TensorFlowIcon.astro";
import PandasIcon from "../icons/PandasIcon.astro";
---

<Tittle title="Technologies" />

<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4 justify-items-center mt-8">
  <div class="flex flex-col items-center">
    <PythonIcon class="w-16 h-16 md:w-24 md:h-24" />
    <span class="mt-2 text-sm md:text-base text-gray-400 dark:text-gray-300">Python</span>
  </div>
  <div class="flex flex-col items-center">
    <RLanguageIcon class="w-16 h-16 md:w-24 md:h-24" />
    <span class="mt-2 text-sm md:text-base text-gray-400 dark:text-gray-300">R Language</span>
  </div>
  <div class="flex flex-col items-center">
    <TensorFlowIcon class="w-16 h-16 md:w-24 md:h-24" />
    <span class="mt-2 text-sm md:text-base text-gray-400 dark:text-gray-300">TensorFlow</span>
  </div>
  <div class="flex flex-col items-center">
    <PandasIcon class="w-16 h-16 md:w-24 md:h-24" />
    <span class="mt-2 text-sm md:text-base text-gray-400 dark:text-gray-300">Pandas</span>
  </div>
  <div class="flex flex-col items-center">
    <PostgreSQLIcon class="w-16 h-16 md:w-24 md:h-24" />
    <span class="mt-2 text-sm md:text-base text-gray-400 dark:text-gray-300">PostgreSQL</span>
  </div>
  <div class="flex flex-col items-center">
    <MongoDBIcon class="w-16 h-16 md:w-24 md:h-24" />
    <span class="mt-2 text-sm md:text-base text-gray-400 dark:text-gray-300">MongoDB</span>
  </div>
  <div class="flex flex-col items-center">
    <PowerBIIcon class="w-16 h-16 md:w-24 md:h-24" />
    <span class="mt-2 text-sm md:text-base text-gray-400 dark:text-gray-300">Power BI</span>
  </div>
  <div class="flex flex-col items-center">
    <TableauIcon class="w-16 h-16 md:w-24 md:h-24" />
    <span class="mt-2 text-sm md:text-base text-gray-400 dark:text-gray-300">Tableau</span>
  </div>
  <div class="flex flex-col items-center">
    <PowerAppsIcon class="w-16 h-16 md:w-24 md:h-24" />
    <span class="mt-2 text-sm md:text-base text-gray-400 dark:text-gray-300">Power Apps</span>
  </div>
  <div class="flex flex-col items-center">
    <PowerAutomateIcon class="w-16 h-16 md:w-24 md:h-24" />
    <span class="mt-2 text-sm md:text-base text-gray-400 dark:text-gray-300">Power Automate</span>
  </div>
  <div class="flex flex-col items-center">
    <AzureIcon class="w-16 h-16 md:w-24 md:h-24" />
    <span class="mt-2 text-sm md:text-base text-gray-400 dark:text-gray-300">Azure</span>
  </div>
  <div class="flex flex-col items-center">
    <AWSIcon class="w-16 h-16 md:w-24 md:h-24" />
    <span class="mt-2 text-sm md:text-base text-gray-400 dark:text-gray-300">AWS</span>
  </div>
</div>