---
import Tittle from "./Tittle.astro";
import PowerBIIcon from "../icons/PowerBIIcon.astro";
import PythonIcon from "../icons/PythonIcon.astro";
import PostgreSQLIcon from "../icons/PostgreSQLIcon.astro";
import RLanguageIcon from "../icons/RLanguageIcon.astro";
import MongoDBIcon from "../icons/MongoBDIcon.astro";
import PowerAppsIcon from "../icons/PowerAppsIcon.astro";
import PowerAutomateIcon from "../icons/PowerAutomateIcon.astro";
import AzureIcon from "../icons/AzureIcon.astro";
import TableauIcon from "../icons/TableauIcon.astro";
import AWSIcon from "../icons/AWSIcon.astro";
import TensorFlowIcon from "../icons/TensorFlowIcon.astro";
import PandasIcon from "../icons/PandasIcon.astro";
---

<Tittle title="Technologies" />

<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4 justify-items-center mt-8">
  <PythonIcon class="w-16 h-16 md:w-24 md:h-24" />
  <RLanguageIcon class="w-16 h-16 md:w-24 md:h-24" />
  <TensorFlowIcon class="w-16 h-16 md:w-24 md:h-24" />
  <PandasIcon class="w-16 h-16 md:w-24 md:h-24" />
  <PostgreSQLIcon class="w-16 h-16 md:w-24 md:h-24" />
  <MongoDBIcon class="w-16 h-16 md:w-24 md:h-24" />
  <PowerBIIcon class="w-16 h-16 md:w-24 md:h-24" />
  <TableauIcon class="w-16 h-16 md:w-24 md:h-24" />
  <PowerAppsIcon class="w-16 h-16 md:w-24 md:h-24" />
  <PowerAutomateIcon class="w-16 h-16 md:w-24 md:h-24" />
  <AzureIcon class="w-16 h-16 md:w-24 md:h-24" />
  <AWSIcon class="w-16 h-16 md:w-24 md:h-24" />
</div>