---
import LinkedIn from '../icons/LinkedInIcon.astro';
import GitHub from '../icons/GitHubIcon.astro';
import SocialPill from './SocialPill.astro';
import LinkedInIcon from '../icons/LinkedInIcon.astro';
import GitHubIcon from '../icons/GitHubIcon.astro';
---
<nav class="flex gap-x-2">
	<SocialPill href="https://www.linkedin.com/in/gaboelc/">
		<LinkedInIcon class="w-6 h-6"/>
		LinkedIn
	</SocialPill>

	<SocialPill href="https://github.com/Gaboelc" >
		<GitHubIcon class="w-6 h-6"/>
		GitHub
	</SocialPill>
</nav>